@using JobApplications.ViewModels
@model IEnumerable<job_applicationVMList>

@{
   ViewBag.Title = "Job Applications";
}

@Styles.Render("~/Content/datatables")

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table dataTable table-bordered table-hover">
    <thead>
        <tr>
            <th class="dt-head-nowrap">Job Site</th>
            <th>Employment Agency</th>
            <th>Employer</th>
            <th>Employer Location</th>
            <th>Role</th>
            <th>Application Date</th>
            <th>Last Updated</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @{
           bool odd = false;
           bool line;
           bool hasLatest;
           string rowClass;

           foreach (var item in Model) {
               line = false;
               odd = !odd;
               hasLatest = item.latest_job_activity != null && item.latest_job_activity.Count > 0;

               rowClass = odd ? "odd" : "";//'@Url.Action("Details", new { id = item.id })'
            <tr class="pointer @rowClass" onclick="openItem(@item.id);">
                <td class="dt-body-nowrap">
                    @if (!String.IsNullOrWhiteSpace(item.job_site?.name)) {
                    @Html.DisplayFor(modelItem => item.job_site.name)
                        line = true;
                    }
                    @if (!String.IsNullOrEmpty(item.job_site_reference)) {
                        if (line) {
                        <br />
                        }
                    <strong>Ref: </strong>@Html.DisplayFor(modelItem => item.job_site_reference)
                        line = true;
                    }
                </td>
                <td>
                    @if (item.employment_agency != null) {
               if (!String.IsNullOrEmpty(item.employment_agency.url)) {
                        <a href="@item.employment_agency.url" target="_blank">@Html.DisplayFor(i => item.employment_agency.name)</a>
                        }
                        else {
                        @Html.DisplayFor(i => item.employment_agency.name)
                        }

                        if (!String.IsNullOrEmpty(item.employment_agency_reference)) {
                        <br />
                        <strong>Ref: </strong>@Html.DisplayFor(i => item.employment_agency_reference)
                        }

                        if (item.employment_agency_contact != null) {
                        <br />
                        <strong>Contact: </strong>@Html.DisplayFor(i => item.employment_agency_contact.contact_name)
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.job_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.application_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.last_updated)
                </td>
                <td style="text-align: center; width: 60px; text-wrap: none; white-space: nowrap;" action="noclick">
                    <a href="#" class="btn-xs" action="editButton" item-id="@item.id" title="Edit application"><span style="font-size: larger;" class="glyphicon glyphicon-edit"></span></a>
                    <a href="#" class="btn-xs" action="deleteButton" item-id="@item.id" title="Delete application"><span style="font-size: larger;" class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            {
               if (hasLatest) {
                var lastAct = item.latest_job_activity.First();
                <tr class="pointer job-app-latest-activity @rowClass">

                        <td><strong>Last Action</strong></td>
                        <td colspan="4">@Html.DisplayFor(m => lastAct.description)</td>
                        <td>@Html.DisplayFor(m => lastAct.activity_date)</td>
                        <td>@Html.DisplayFor(m => lastAct.last_updated)</td>
                        <td> </td>
                    </tr>
                    }
                }
           }
        }
    </tbody>

</table>

<script>
    function openItem(id) {
        let url = "@(Url.Action("Details"))/" + id;
        window.location.href = url;
    }

    function editApplication(id) {
        let url = "@Url.Action("Edit")/" + id;
        window.location.href = url;
    }

    function deleteApplication(trElement, id) {
        alert("Not implemented");
    }

    // Add a click handler to all of the delete buttons.
    $("[action='editButton']").bind("click", function (event) {
        event.stopPropagation();

        let id = this.attributes["item-id"].value;
        editApplication(id);
    });

    // Add a click handler to all of the delete buttons.
    $("[action='deleteButton']").bind("click", function (event) {
        event.stopPropagation();

        let id = this.attributes["item-id"].value;
        deleteApplication($(this).parents("tr")[0], id);
    });

    // Prevent click handling on specific elements (namely the last column in the Job Application table).
    $("[action='noclick']").bind("click", function (event) {
        event.stopPropagation();
    });

</script>